<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="FlaskHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Program Files\Python36\python.exe|D:\inetpub\flask\flaskapp\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="2147483648" />
            </requestFiltering>
        </security>
    </system.webServer>
    <appSettings>
    <!-- Required settings -->
    
    <add key="PYTHONPATH" value="D:/inetpub/flask/envflask/Lib/site-packages;C:/Program Files/Python36/Lib;C:/Program Files/Python36/Lib/site-packages" />
    </appSettings>
    <system.web>
        <httpRuntime executionTimeout="150" shutdownTimeout="150" />
    </system.web>

</configuration>
