<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Flask App</title>
	
	<link rel="stylesheet" href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css')}}">
</head>
<body>
	<div class="container-fluid">
		<div class="jumbotron">
		<h1 class="text-center">Hello, World!</h1>
		<p class="lead text-center"> <small>This is "Hello World" app using <strong>Python-Flask App</strong>  and running from <strong>IISAU010MEL0644</strong>  server.</small></p> 
	</div>
	</div>
	
	
	<script src="{{url_for('static', filename='bootstrap/js.bootstrap.min.js')}}"></script>
</body>
</html>